a.spoiler:after{
    content:" [-]";
}

a.spoiler.collapsed:after{
    content:" [+]";
}

#pass{
    margin-top: 10px;
}

body{
    background-color: #a6a2a1;
}

.main-name{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: large;
    font-style: revert;
    font-weight: bold;
}

.panel-1{
    background-color: gainsboro;
}

.joke-name{
    margin-top: 10px;
    font-size: 20px;
    height: 15px;
}

.joke-body{
    margin-left: 30px;
    font-family: Arial Narrow, sans-serif;
}

.offer-name{
    margin-top: 10px;
    font-size: 20px;
    height: 15px;
}

.offer-genre{
    margin-left: 30px;
    font-family: DejaVu Sans Mono, monospace;
}

.offer-body{
    margin-top: 10px;
    margin-left: 30px;
    font-family: Arial Narrow, sans-serif;
}

.joke-date{

    font-family: DejaVu Sans Mono, monospace;
}

.btn.btn-like{
    font-size: 25px;
    color: black;
    background-color: gainsboro;
    border-color: gainsboro ;
}
.btn.btn-like:active{
    font-size: 25px;
    color: black;
    background-color: gainsboro;
    border-color: gainsboro ;
}

.container.log-in{
    margin-top: 70px;
}

.input-group.pass{
    margin-top: 15px;
}

.input-group.btn-login{
    margin-top: 15px;
    margin-left: 30%;
}

.btn-offer{
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 15px;
    background-color: gainsboro;
    border-color: gainsboro;
}

.input-group.btn-share {
    margin-top: 15px;
}


.p-log-in{
    color: #1c1a16;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
}

.p-category{
    color: #1c1a16;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 10px;
}

.pagination a{
    color: gainsboro;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: gainsboro;
    cursor: default;
    background-color: black;
    border-color: black;
}

.p-login-error{
    color: #1c1a16;
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
    font-weight: 300;
    margin-bottom: 30px;
}

.p-addition-ok{
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
    font-weight: 300;
    margin-bottom: 30px;
    color: #3c9311;
}

.error{
    font-size: 150%;
    font-weight: 100;
    margin-bottom: 30px;
    color: #c40011;
}

.menu-admin{
    color: #1c1a16;
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
    font-weight: 300;
    margin-top: 30px;
}

button:active, button:focus{
    outline: none !important;
}